:root {
  --dark: #1E1E1E;
  --light: #E9E9E9;
  --yellow: #E3B505;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #1E1E1E;
  font-family: "Playfair Display";
  font-size: 18;
  color: #E9E9E9;
  margin: 0;
}
.no-transition * {
  transition: none !important;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  margin: 4em;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
nav ul li a, .resume a{
  border-style: solid;
  border-color: var(--light);
  border-width: 0.2em;

  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  /* transition: margin 1000ms ease-in-out,
              background-color 1000ms ease-in-out,
              border-color 1000ms ease-in-out; */
  transition: 1000ms ease-in-out;;
}
nav ul li:nth-child(n+2) a {
   border-left: 0em;
}
nav ul li a:hover, .resume:hover {
  background-color: var(--light);
  border-color: var(--dark);
  /* border-width: 0.2em; */
}
nav ul li a:hover {
  margin: 0em 0.2em;
}
nav ul li:hover a svg .color_change, .resume:hover a svg .color_change {
  fill: var(--dark);
  transition: 300ms ease-in-out;
}
nav ul li:hover a span, .resume:hover a span{
  color: var(--dark);
  transition: 300ms ease-in-out;
}

nav ul li a img, .resume a img {
  height: 2.8em;
}
nav ul li a span, .resume a span {
  color: #E9E9E9;
  font-size: 2em;
}

#chart {
  /* text-align: center; */
  position: relative;
  margin: 50;
}
.chartLine {
  stroke: var(--yellow);
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.axisOffWhite path,
.axisOffWhite line {
  stroke: var(--light);
}
.axisOffWhite text {
  fill: var(--light);
  font-family: "Playfair Display";
}

@media (max-width: 800px) {
  #chart {
    display: none;
  }
}