/* Full page */
:root {
  --dark: #1E1E1E;
  --gray: #333333;
  --light: #E9E9E9;
  --yellow: #E3B505;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--dark);
  font-family: "Playfair Display";
  font-size: 18;
  color: #E9E9E9;
  margin: 0;
}
.wrapper {
  background-size: 100px 100px;
  background-image:
    linear-gradient(to right, var(--gray) 1px, transparent 1px),
    linear-gradient(to bottom, var(--gray) 1px, transparent 1px);
  max-width: 1201px;
  margin: 0 auto;
}


/* Nav Bar */
header {
  display: flex;
  margin: 3em 0em 0em;
  padding: 2em 0em 3.9em;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li a, .resume a{
  border-style: solid;
  border-color: var(--light);
  border-width: 0.2em;
  padding: 0.7em 0.7em;

  height: 2.8em;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
  overflow: hidden;
  width: auto;
  text-decoration: none;
  transition: 300ms ease-in-out;
}
nav ul li a {
  max-width: 2.8em;
}
nav ul li a:hover, .resume:hover {
  background-color: var(--light);
}
nav ul li a:hover {
  max-width: 30em;
}
nav ul li:nth-child(n+2) a {
  border-left: 0em;
}
nav ul li a svg, .resume a svg {
  flex-basis: 2.8em;
	flex-grow: 0;
	flex-shrink: 0;
  width: 2.8em;
}
nav ul li:hover a svg .color_change, .resume:hover a svg .color_change {
  fill: var(--dark);
  transition: 300ms ease-in-out;
}
nav ul li a span, .resume a span{
  /* display: none; */
  color: var(--light);
  font-size: 2em;
  white-space: nowrap;
}
nav ul li:hover a span, .resume:hover a span{
  color: var(--dark);
  transition: 300ms ease-in-out;
}


/* Hero Section */
.hero {
  font-size: 6.2em;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  height: 100px;
  margin: 0em auto;
}
.subtitle {
  font-size: 3.6em;
  text-align: center;
  max-width: 534px;
  height: 100%;
  margin: 1.25em auto 1.42em;
}
.yellow {
  color: var(--yellow);
}
.italic {
  font-style: italic;
}
.mono {
  font-family: "Space Mono";
  font-kerning: normal;
}


/* Chart */
#chart {
  transform: translateX(-9.9em);
}
.chartLine {
  stroke: var(--yellow);
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.axisOffWhite path,
.axisOffWhite line {
  stroke: var(--light);
}
.axisOffWhite text {
  fill: var(--light);
  font-family: "Playfair Display";
}
.ylabel {
  fill: var(--yellow);
  font-family: "Playfair Display";
  font-style: italic;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  #chart {
    display: none;
  }
}


/* Whitespace */
.whitespace {
  margin: 50em auto;
}

/* Case Studies */
h1 {
  font-size: 18pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
}
p {
  font-size: 12pt;
}
.header-image {
  width: 100%;
}
.background-section {
  display: flex;
}
.problems-section {
  display: flex;
}
.case-study-img {
  width: 30%;
}