/* Full page */
:root {
    --dark: #1E1E1E;
    --gray: #333333;
    --light: #E9E9E9;
    --yellow: #E3B505;
}
body {
    background-color: var(--dark);
    font-family: "Playfair Display";
    font-size: 18;
    color: var(--light);
    margin: 0;
}
.wrapper {
    background-size: 100px 100px;
    background-image:
      linear-gradient(to right, var(--gray) 1px, transparent 1px),
      linear-gradient(to bottom, var(--gray) 1px, transparent 1px);
    max-width: 1201px;
    margin: 0 auto;
}