.he-row {
  height: 101px;
  top: calc($spacer - 2.5rem);
  overflow: hidden;
  border-color: #333;
}
/* prettier-ignore */
@media (max-width: 1200px) { .he-row { height: 84px; } }
/* prettier-ignore */
@media (max-width: 992px) { .he-row { height: 97px; } }
/* prettier-ignore */
@media (max-width: 768px) { .he-row { height: 97px; } }
/* prettier-ignore */
@media (max-width: 576px) { .he-row { height: calc(23vw + 1px); } }

.hero {
  color: $body-color;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 4px;
}
@media (max-width: 350px) {
  // X-Small
  .hero {
    font-size: 18vw;
  }
}

.subtitle {
  font-size: 2.3rem;
  font-weight: bold;
}
@media (max-width: 576px) {
  // X-Small
  .subtitle {
    font-size: 6vw;
  }
}

.italic {
  font-style: italic;
}
.accent_color {
  color: $accent_color;
}
.mono {
  font-family: "Space Mono";
  font-kerning: normal;
}
