// .hero {
//   top: $spacer;
//   overflow: hidden;
// }
// /* prettier-ignore */
// @media (max-width: 1200px) { .hero { height: 84px; } }
// /* prettier-ignore */
// @media (max-width: 992px) { .hero { height: 97px; } }
// /* prettier-ignore */
// @media (max-width: 768px) { .hero { height: 97px; } }
// /* prettier-ignore */
// @media (max-width: 576px) { .hero { height: calc(23vw + 1px); } }

// TODO: Try again at fixing the sticky-top
// TODO: Growing border?
.hero {
  font-size: 0;
  padding-top: calc(100px - 1.5 * 4rem);
}
.hero span {
  color: $body-color;
  font-size: 4rem;
  font-weight: bold;
}
// TODO: Fix for small screens

@media (max-width: 576px) {
  .hero {
    padding-top: calc(23vw - 1.5 * 12vw);
  }
  .hero span {
    font-size: 12vw;
  }
}
// @media (max-width: 350px) {
//   // X-Small
//   .hero span {
//     font-size: 18vw;
//   }
// }

.subtitle {
  height: 100px;
  font-size: 2.3rem;
  font-weight: bold;
}
@media (max-width: 576px) {
  // X-Small
  .subtitle {
    font-size: 6vw;
  }
}

.mono {
  font-family: "Space Mono";
  font-kerning: normal;
}
