.page-width {
  margin: 0 auto;
  max-width: 1201px;
}
.top-whitespace {
  @extend .page-width;
  height: calc($spacer + 1px);
  background-image: linear-gradient(
    to bottom,
    $body-bg $spacer,
    $secondary 1px
  );
}
.grid-row {
  height: 100px;
}
.wrapper {
  @extend .page-width;
  top: $spacer;
  background-size: 100px 100px;
  background-image: linear-gradient(to right, $secondary 1px, transparent 1px),
    linear-gradient(to bottom, $secondary 1px, $body-bg 1px);
}
@media (max-width: 1200px) {
  // Large
  .page-width {
    max-width: 1001px;
  }
}
@media (max-width: 992px) {
  // Medium
  .page-width {
    max-width: 801px;
  }
}
@media (max-width: 768px) {
  // Small
  .page-width {
    max-width: 601px;
  }
}
@media (max-width: 576px) {
  // X-Small
  .page-width {
    max-width: calc(92vw + 1px);
  }
  .grid-row {
    height: 23vw;
  }
  .wrapper,
  .top-whitespace {
    background-size: 23vw 23vw;
  }
}
